{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Valentine{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;600&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap" rel="stylesheet">

    

    {% block extra_head %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    <!-- Your JS -->
    <script src="{% static 'js/script.js' %}?v={% now 'U' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
