{% extends "base.html" %}
{% load static %}
{% block title %}
My Forever Valentine ❤️
{% endblock %}


{% block content %}

<!-- LOADER -->
<div id="loader">
  <div class="flower">
    <div class="petal"></div><div class="petal"></div><div class="petal"></div>
    <div class="petal"></div><div class="petal"></div>
    <div class="center"></div>
  </div>
  <p>Loading our love… ❤️</p>
</div>

<audio id="music" loop>
  <source src="{% static 'audio/Lullaby.mp3' %}">
</audio>

<!-- HERO -->
<div class="hero-wrapper">
  <section id="hero">
    <h1>My Forever Valentine ❤️</h1>
    <h2>For <span class="name">Beatrix Sebastian</span></h2>
    <button class="btn" id="startBtn">Begin Our Story 💌</button>
  </section>

  <section class="hero-photo">
    <div class="photo-wrap">
      <img src="{% static 'img/bea.png' %} " id="heroImg">
    </div>
  </section>
</div>

<!-- INVITATION -->
<div id="invitation" class="locked">
 

<section id="letter-section">
  <h2>A Letter From My Heart 💕</h2>

   <!-- LETTER MODAL -->
  <div id="letterModal" class="modal-letter">
    <div class="modal-content">
      <span class="close">&times;</span>

      <h3>My Love 🧸</h3>
      <p id="modalText"></p>
    </div>
  </div>

  <!-- PIN MODAL -->
<div id="pinModal" class="modal-letter">
  <div class="modal-content">
    <h3>Enter the Code 💗</h3>

    <input id="pinInput" type="password" maxlength="4" inputmode="numeric" placeholder="****"
      style="font-size:2rem; text-align:center; letter-spacing:10px; padding:10px; width:150px; border-radius:10px; border:2px solid #ff4b5c;">

    <br><br>
    <button id="unlockBtn" style="padding:10px 25px; border:none; background:#ff4b5c; color:white; border-radius:20px; font-size:1rem;">
      Unlock
    </button>
  </div>
</div>

  <div class="wrapper envelope-scroll">
    <div class="lid one"></div>
    <div class="lid two"></div>
    <div class="envelope"></div>
    <div class="seal lock" id="lockSeal">💗</div>
    <div class="letter">
    <p>
    Hi Bubby,<br><br>

    First of all, I love you so much. Happy Valentine’s Day, bub 😘
    Sorry if this isn’t a traditional letter, but we’re in the new era na kasi 😜 hahaha.
    I wanted to make something special for you in my own way, something you can open and feel anytime you want.<br><br>

    Thank you for being my safe place, my comfort, and my happiness.
    Every day with you feels lighter and more meaningful.<br><br>

    Minsan nagkakatampuhan tayo, nagkaka-misunderstandings, pero dun din tayo mas natututo at mas nakikilala pa ang isat isa. Honestly, I’m thankful for those moments too because they show how real we are and how much we always want to fix and protect our relationship.<br><br>

    Thank you for helping me know God more and for guiding me to the right path na dapat ako yung gumagawa nun para sayo HAHAHA 😆 I really appreciate how you influence me to become a better person. 🥹<br><br>

    Always remember din na you’re not alone anymore. I’m here for you always 😘. Sa happy days mo, sa stressful days mo, at sa days na gusto mo lang magpahinga, nandito lang ako. We’re a team now 🤍<br><br>

    You make me feel loved in ways I didn’t even know I needed.
    I’m really grateful that out of all the people in the world, ikaw yung nakasama ko sa journey nato.<br><br>

    I know we’re not perfect and we still have so many things to learn and experience together, but one thing is sure, I want to keep choosing you. Today, tomorrow, and all the days after that. 😌<br><br>

    I hope this little surprise makes you smile and feel how much you mean to me.
    Thank you for loving me, for staying, and for being you.<br><br>

    Happy Valentine’s Day, my love 💖<br>
    I love you always.
    </p>


    </div>
  </div>
</section>


<section class="love-timer">
  <h2>Since the Day We Met 💞</h2>

  <div class="love-timer-content">

    <div class="love-photo">
      <img src="{% static 'img/bub_kiss.png' %}">
    </div>


    <div class="timer-card">
      <div class="time-row">
        <span class="time-number" id="years">0</span>
        <span class="time-label">Years</span>
      </div>
      <div class="time-row">
        <span class="time-number" id="months">0</span>
        <span class="time-label">Months</span>
      </div>
      <div class="time-row">
        <span class="time-number" id="days">0</span>
        <span class="time-label">Days</span>
      </div>
    </div>
  </div>

  <p class="timer-caption">and every moment still feels special ❤️</p>
</section>




<section class="memories-section">
  <h2 class="memories-title">Our Memories ❤️</h2>

  <div class="timeline">

    <div class="memory card p1">
      <span class="dot"></span>
      <img src="{% static 'img/1.png' %}">
      <div class="content">
        <h3>Our First Message</h3>
        <p>It started with a simple hello… and became everything.</p>
      </div>
    </div>

    <div class="memory card p2">
      <span class="dot"></span>
      <img src="{% static 'img/2.jpg' %}">
      <div class="content">
        <h3>Our First Date</h3>
        <p>I was nervous, but I knew I wanted more moments like this.</p>
      </div>
    </div>

    <div class="memory card p3">
      <span class="dot"></span>
      <img src="{% static 'img/1.png' %}">
      <div class="content">
        <h3>My Favorite Moment</h3>
        <p>This day lives in my heart forever.</p>
      </div>
    </div>

    <div class="memory card p4">
      <span class="dot"></span>
      <img src="{% static 'img/1.png' %}">
      <div class="content">
        <h3>Today</h3>
        <p>Still choosing you. Always.</p>
      </div>
    </div>

  </div>
</section>

<section class="valentine-section" id="valentineSection">
  <h2 class="valentine-question" id="typingSentence"></h2>

  <div class="sentence-box" id="choicesBox">
    <span class="choice good" data-word="with you 💗">with you</span>
    <span class="choice tease" data-word="on my phone 📱">on my phone</span>
    <span class="choice tease" data-word="anywhere else 🙈">anywhere else</span>
  </div>

  <div class="sentence-result" id="sentenceResult"></div>

  <div class="final-question" id="finalQuestion">
      <p class="question-text">
        Will you be my Valentine, <span id="herName"></span>? 💌
      </p>

    <div class="valentine-buttons">
      <button class="val-btn yes-btn" id="yesBtn">Yes 💖</button>
      <button class="val-btn no-btn" id="noBtn">No 🙈</button>
    </div>
  </div>
  <div class="yes-animation" id="yesAnimation">
    💖 YES! 💖<br>
  </div>


</section>

  
</div>

<footer>
  Made with ❤️ by Jecko <br>
  Valentine’s Day 2026
</footer>


{% endblock %}